<nav class="navbar navbar-static-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle"
                ng-if="navbarCtrl.items.length"
                ng-click="navbarCtrl.toggleCollapse()"
            >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#section-1"
               class="navbar-brand"
               ui-sref="home"
            >
        <span><img src="/assets/images/icon.png"
                   alt="Britc feature request app logo"/>
        </span>
            </a>
        </div>

        <div ng-if="navbarCtrl.isLoggedIn()">
            <div class="collapse navbar-collapse" uib-collapse="navbarCtrl.isCollapsed">
                <ul class="nav navbar-nav">
                    <li
                        ng-repeat="item in navbarCtrl.items track by item.name"
                        ui-sref-active="active">
                        <a
                            ng-click="navbarCtrl.toggleCollapse()"
                            ui-sref="{{item.name}}"
                            ng-bind="::item.label"
                        ></a>
                    </li>
                </ul>

                <!-- Logout section -->
                <ul class="nav navbar-nav navbar-right dropdown">
                    <li>
                        <div class="btn-group" uib-dropdown keyboard-nav>
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                <i class="fa fa-user fa-lg"></i>
                                <span ng-bind="::navbarCtrl.getUsername()"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                aria-labelledby="simple-btn-keyboard-nav">
                                <li role="menuitem"><a ui-sref="logout">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
