<div class="container-fluid" ng-show="createFeatureCtrl.isDelete === true">
    <div class="modal-header">
        <h3 class="modal-title  alert-danger">
            Are you sure you want to delete feature : <span ng-bind="createFeatureCtrl.featureRequest.title"></span> ?
        </h3>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" ng-click="createFeatureCtrl.delete()">Delete</button>
        <button class="btn btn-warning" type="button" ng-click="createFeatureCtrl.close()">Cancel</button>
    </div>
</div>

<div class="container-fluid" ng-hide="createFeatureCtrl.isDelete === true">
    <div class="modal-header">
        <h3 class="modal-title" ng-hide="createFeatureCtrl.isEdit">Create New Feature Request</h3>
        <h3 class="modal-title" ng-show="createFeatureCtrl.isEdit">Update Feature Request</h3>
    </div>
    <form>
        <div class="modal-body" id="modal-body">

            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="feature title"
                       ng-required="true"
                       ng-model="createFeatureCtrl.featureRequest.title"/>
            </div>
            <div class="form-group">
                <label>Client</label><br/>
                <ol class="nya-bs-select form-control" ng-model="createFeatureCtrl.featureRequest.client" data-live-search="true">
                    <li nya-bs-option="client in createFeatureCtrl.clients">
                        <!-- the text content of anchor element will be used for search -->
                        <a>
                            {{ client.name }}
                            <span class="fa fa-check check-mark"></span>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="form-group">
                <label>Client Priority</label>
                <input type="number" class="form-control" min="0"
                       ng-required="true"
                       ng-model="createFeatureCtrl.featureRequest.priority"/>

                <p class="help-block">use async request to check if priority already exist for the client</p>
            </div>

            <div class="form-group">
                <label>Target Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{createFeatureCtrl.format}}"
                           ng-model="createFeatureCtrl.featureRequest.targetDate"
                           is-open="createFeatureCtrl.popup.opened" ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="createFeatureCtrl.open()">
                                <i class="fa fa-calendar"></i></button>
                        </span>
                </p>
            </div>

            <div class="form-group">
                <label>Ticket URL</label>
                <input type="url" class="form-control" placeholder="http://www.ticketurl.com/" ng-required="true"
                       ng-model="createFeatureCtrl.featureRequest.ticketUrl"/>
            </div>

            <div class="form-group">
                <label>Product Area</label>
                <select class="form-control"
                    ng-options="productArea as productArea.id for productArea in createFeatureCtrl.productAreas track by productArea.id"
                    ng-model="createFeatureCtrl.featureRequest.productArea"
                    ng-required="true">
                    <option value="">-- please select product area --</option>
                </select>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" ng-model="createFeatureCtrl.featureRequest.description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="createFeatureCtrl.save()">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="createFeatureCtrl.close()">Cancel</button>
        </div>
    </form>
</div>
